{% load static%}

<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    {% if title %}
   <title>The Gallery- {{title}}</title>
   {% else %}
   <title> The Gallery</title>
   {% endif %} 
   {% block styles %} 
  {% endblock %}
   
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
   
   {% include "navbar.html" %} 

   {% block content %}
   
   {%endblock%}


   {% block scripts %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
</body>

</html>