{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel=”stylesheet” href="../../../static/css/photo.css">
     <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<style>
    body{
        
        background-color: #959595
       
    }

    .categories{
    color: #7758b3;
}
.list-group-item a {
  text-decoration: none;
  color: black;
}

</style>

</head>
<body class="">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="categories"> Categories</h1>
                   
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %} ">All</a> 
                        </li>

                      {% for category in categories%}
                      <li class="list-group-item">
                         <a href="{% url 'gallery' %}?category={{ category.name}}"> {{category.name}}</a> 
                       </li>
                      {% endfor%}   
                      
                      {% for location in locations %}
                      <li class=" list-group-item">
                          <a href="{% url 'gallery' %}?location={{location.location}}">
                              {{location.location}}
                          </a>
                      </li>
                      {% endfor %}
                                                            
                      <a href="{% url 'add'  %}" class="btn btn-outline-dark btn-block btn-sm">Add Photo</a>
                      
                    </ul>
                  </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbnail" src="{{photo.image.url}}" height="250px"  alt="Card image cap">
                            <div class="card-body">
                                <!-- puttng category and linking to photo -->
                                <small>Category: {{photo.category.name}}</small>
                            </div>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark ">View</a>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>

        </div>

    </div>
    {%endblock%}
</body>

</html>